<form  action="/robots" method="post">
  <h1>Create a new robot:</h1>
  <label>Name</label>
  <input type="text" name="robot[name]" /><br/>
  <label>City</label>
  <input type="text" name="robot[city]" /><br/>
  <label>State</label>
  <input type="text" name="robot[state]" /><br/>
  <label>Department</label>
  <input type="text" name="robot[department]" /><br/>
  <input type='submit'/>
</form>
